{% extends 'layouts/blank.html' %}
{% block title %}Szegedi Bagoly - Chat{% endblock %}

{% block content %} 
<h1 class="p-4 text-center m-4">Szegedi Fekete Istán Általános Iskola</h1>
<div class="p-4 m-4 border shadow row w-75 mx-auto">
    <div class="col-lg-6 h3 text-center">
        <a class="" href="https://drive.google.com/file/d/1IXjI-mSX0WulvclnWGVgeek_HHc3JJGk/view?usp=sharing" target="_blank">Intézményi portfólió</a>
    </div>
    <div class="col-lg-6 h3 text-center">
        <a href="https://drive.google.com/file/d/12yIjv2LuxRg3r7ktzCaLTCCzUCemyHmB/view?usp=sharing" target="_blank">Konduktív csoport</a>
    </div>
</div>
<div class="container"data-aos="fade-up" data-aos-delay="100">
    <div class="position-relative overflow-hidden  p-md-5 m-md-3 text-center bg-light rounded shadow">
      <div class="mx-auto p-5 text-start">
        <div class="rounded shadow" style="background-image: url(../../static/img/about/owl_about.jpg);  background-position: center;
        background-size: cover;
        background-repeat: no-repeat; height: 400px;">
        </div>
        <h1 class=" font-weight-normal p-5 text-center">Iskolánk története, mindennapjai</h1>

        <p class=" font-weight-normal mt-4">A második világháború után a Klebelsberg-féle népiskola működött a mai óvoda épületében,
de oda csak alsó tagozatos tanulók jártak. A telep lakosságának és a gyermekek számának
növekedésével szükség lett egy új, nagyobb létszámmal működő iskolára. Kecskés-telep
oktatásának új fejezete kezdődött 1964-ben, amikor átadták a 8 tantermes „nagy iskola”
épületét. <br> <hr>
Az új iskola nevét az őt körülvevő telepről kapta: Ságvári - telepi Általános Iskola. Nyolc
osztályban indult meg a tanítás. A tanulók több iskolából kerültek át az új intézménybe,
melynek főbejárata még a Gera Sándor utca felől volt. <br> <br>
Maga a nevelőtestület a tanév elején alakult Pálmai Miklós igazgató úr vezetésével. A kor
követelményeinek megfelelően élénk mozgalmi munka (kisdobos és úttörő) kezdődött, ami a
későbbi igazgatók: Horváth József és Szalka Lajos idején is folytatódott, sok örömet szerezve
a tanulóknak. A három férfi igazgató után 1986 őszén női igazgató került az iskola élére. <br> <br>
1989-ben megszületett a döntés arról, hogy az iskola mozgássérült gyerekeket is fogad.
Megalakult a mozgássérült csoport két fiatal konduktor munkájának köszönhetően. Ők voltak
Gaálné Sós Rita és Sisák Erika. Ehhez a munkához helyszínül az akkori igazgatónő, Dr. Miklós
Lászlóné, a korábban szolgálati lakásként működő földszinti termeket biztosította. Ettől az
időtől kezdve egészen napjainkig folyik az iskolában az egészséges és a mozgásukban
korlátozott tanulók együttes oktatása, nevelése. A sérült gyerekek integráltan vettek és vesznek
részt a tanítási órákon. A csoportban kiváló konduktor irányítja, segíti a mozgásfejlődésüket,
lelkiismeretes gyógypedagógiai asszisztensek nyújtanak segítséget ahhoz, hogy a

mindennapjaik kellemesen teljenek az iskolában. Az intézmény rendelkezik egy kisbusszal,
mely lehetővé teszi az iskolán kívüli programokon való részvételüket is. <br> <br>
Későbbi években Dr. Szil Elemérné pártfogásával befogadott az iskola hallássérült tanulókat
is, akiket szurdopedagógus fejlesztett. Ők is integrált oktatást kaptak, hiszen az itt tanítók
valamennyien szívügyüknek tekintették a siket kisgyerekek színvonalas oktatását és
bevonásukat a diákok mindennapi életébe. Az egészséges tanulótársak pedig megtanulják,
hogyan segítsenek, hogyan segíthetnek sérült társaiknak, ezáltal képessé válva a másság
elfogadására. <br> <br>
1994-ben Tölgyessy Árpádné, Edit néni, magyar irodalom és nyelvtan szakos tanárnő javasolta,
hogy az intézmény vegye fel Fekete István író nevét. Miután az író özvegye hozzájárult ehhez,
az ünnepélyes névadóra az új iskola fennállásának harmincadik évfordulóján került sor. A
születésnapi tortát, melyen már az új név szerepelt, Dr. Lippai Pál polgármester úr szelte fel.
Ezek után iskolánk belépett az Ajkán működő Fekete István Társaság tagjai közé. A nagy író
mellszobrát az emeleti zsibongóban helyezték el, és időről időre megkoszorúzták. A szobor
2014-ben új helyet kapott a jelenlegi főbejáratnál. <br> <br>
A névválasztásban egyrészt szerepe volt annak, hogy Fekete István műveiben jól tükröződnek
azok az emberi értékek- becsületesség, hűség, kitartás, empátia, őszinteség -, amelyek a sikeres
integrációval megvalósuló pedagógiai munka feltételei is, másrészt a kertvárosi környezet, az
iskola természetközelisége összhangban van azzal az írói szándékkal, hogy gyermek- és
állatszereplői olyan humánus magatartási példákat tárjanak elénk, melyek az élet tiszteletére
tanítanak mindannyiunkat. <br> <br>
2003. augusztus 1-jétől egy tagintézménnyel bővült az iskola, a szentmihályi Gárdonyi Géza
Általános Iskolával, mely végül 2008-ban bezárta kapuit, és a diákok, valamint a tantestület
nagy része az anyaiskolába került. <br> <br>
A 90-es évektől kezdődően indult művészeti oktatás az iskolában, melynek keretén belül
társastánc, néptánc, szolfézs, magánének és hangszeres képzést igényelhettek tanulóink. Ez a
hagyomány napjainkban is folytatódik. <br> <br>
2013 szeptemberétől Kispéterné Kotogán Erzsébet irányítása alá került az iskola. Folytatva a
korábbi igazgatónő által megkezdett munkát, 2014. március 19-én az iskola elnyerte a
„Minősített referenciaintézmény” címet, majd „Örökös Ökoiskola” lettünk. <br> <br>
A helyi társadalommal való együttműködés keretében felépült iskolánk területén egy műfüves
labdarugópálya, melyet nem csak az iskola, hanem a helyi közösségek is használhatnak. <br> <br>

2019-ig elnyerte iskolánk a „Boldog Iskola”, az „Akkreditált kiváló Tehetségpont” címet,
valamint a „Pénziránytű-BankVelem Iskolahálózat” tagja lett. A 2021. tanévben iskolánk a
„Kapocs iskolahálózat partnerintézménye”-ként elnyerte az „Élménysuli” címet is a Komplex
Alapprogram bevezetése által. <br> <br>
Intézményünk nyugdíjba vonuló vezetőjét Sáriné Vetró Zsuzsanna váltotta fel, aki új lendülettel
indította a 2022-2023-as tanévet. Számos új esemény került fel az éves programkínálatba,
melyek reményeink szerint hagyománnyá is válnak: a F.É.K. projekt a mozgásukban
akadályozott tanulóink integrációjáról szól; az évszakváltásokhoz kötődő Alkotónapok a
gyermeki kreativitásra épülnek; a megújult formában életre hívott Szülő Klubfoglalkozások a
családokkal való szorosabb együttműködést célozzák, ahol iskolapszichológusunk állandó
jelenléte is emeli a program komolyságát. A beiskolázással, a továbbtanulással kapcsolatos
eseményeket az Aranykapu Programsorozat fűzi egy komplex egységgé, melyben szerepel az
óvodásoknak szóló játékos foglalkozás, ismerkedés; a negyedik osztályos szülőknek tartott
tájékoztató előadás a felső tagozat kihívásairól; szülői értekezletek a leendő elsősöknek;
valamint a környék középiskoláinak részvételével megrendezett, továbbtanulást elősegítő
pályaválasztási nap is. A nyári vakáció idejére sem hagyjuk magukra tanulóinkat, hiszen idén
első alkalommal csatlakozhatott iskolánk az Erdei Vándortábor programhoz. <br> <br>
Természetesen hagyományainkat is megtartjuk: farsang, családi nap, alapítványi est gazdagítja
a „baglyos iskola” mindennapjait. <br> <br>
Legkiválóbb tanulóinkat minden évben megjutalmazzuk. A ballagáson adjuk át a Csillogó
Szemekért Alapítvány által támogatott „Bagoly-díj”-at a 8 éven át kitűnő bizonyítvánnyal
rendelkező diákoknak, valamint idén első alkalommal „Csillogó Csillag” elismerésben
részesülnek azok is, akik ugyan nem voltak végig kitűnők, de közösségi munkájuk,
lelkesedésük, eredményeik alapján példával jártak társaik előtt. <br> <br>
Iskolánk a 2024/2025-ös tanévben fogja ünnepelni alapításának 60. évfordulóját. Már most
készülünk erre a jelentős tanévre, hiszen az ünneplés méltó, felemelő és vidám pillanatait
tudatos tervezéssel-szervezéssel tudjuk megvalósítani. Ebben számítunk egykori diákjainkra,
kollégáinkra és a jelenlegi közösségünkre is, melynek fontos részei a családok, Kecskéstelep
lakói, intézményei is. <br> <br>
Várjuk Önt is szeretettel iskolákba! <br> <br> </p>

<p class="fst-italic">Falábu László – könyvtáros pedagógus és Sáriné Vetró Zsuzsanna igazgató.</p>
      </div>
    </div>
</div>
    <div class="mx-auto container" data-aos="fade-up" data-aos-delay="100">
    <div class=" w-100 my-md-3 pl-md-3">
      <div class="bg-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden border rounded">
        <div class="my-3 py-3 ">
          <h2 class="display-5">Aranykapu</h2>
        </div>
        <div class="bg-light box-shadow mx-auto rounded" style="width: 80%;">
            <img class="img-fluid rounded " src="../../static/img/about/Aranykapu.png" alt="">
            
        </div>
        <div class="m-4 p-4 mx-auto bg-light border rounded"style="">
            <p class="text-start">Tisztelt szülők!</p>
            <p class="text-start">A <strong>Szegedi Fekete István Általános Iskola</strong> 2022-ben indította el</p>
            <p class="text-center font-color lead"><strong>Aranykapu programjait</strong></p>
            <p class="text-start">melyek célja Kecskéstelep, Szentmihály, Gyálarét és Klebelsberg-telep lakosainak a bevonása
                az iskolai programokba az iskola „Aranykapujának” nyitása által. <br>   
                A programok között szerepel óvodásoknak, óvodások szüleinek, iskolásaink családjának, a
                környék nyugdíjasainak, vállalkozóinak, termelőinek a megszólítása, meghívása a különböző
                eseményekre.</p>
                <p class="text-start"><strong>Az iskolába készülő óvodásokat többféle program is várja:</strong></p>
                <p class="text-start"><strong>1. ALKOTÓNAPOK</strong></p>
                <p class="text-start">A tanév során három alkalommal, az adott évszakhoz igazodó alkotások készítésnek
                    lehetőségével várjuk az ovisokat. A délután folyamán megismerkedhetnek a leendő
                    tanítónénikkel, tantermükkel és kedvük szerint vehetnek részt az alkotás folyamatában. <br> <br>
                    Ez idő alatt a szülőknek a Szülői Klub szervezésében Győri-Dani Dóra iskolapszichológus tart
                    előadást az iskolaérettségről, a felmerülő problémákról, feladatokról. <br> <br>
                    Időpontok:</p>
                <p class="text-start"><strong>2023.október 19., december 14., március 26. 15:30-16:30 között</strong></p>
                <p class="text-start"><strong>2. BETEKINTŐ A FELSŐ TAGOZATBA – avagy: REJTÉLYES TUDOMÁNYOK
                    AZ EMELETEN</strong></p>
            <p class="text-start">Az iskola nem csupán az alsó tagozatból és tanítónénikből áll! Szeretnénk, ha már az ovisok is
                betekinthetnének a felső tagozatos tantárgyak szaktantermeibe, próbára tehetnék bátorságuk és
                kíváncsiságuk egy-két fiók és szekrény kinyitásával a kémia teremben, vagy a biológia
                teremben, találkoznának Samuval a csontvázzal és még angolul is megtanulnának egy-két
                érdekes szót. <br> <br>
                A foglalkozásokra a szülőkkel együtt várjuk leendő tanulóinkat <strong>2023. november 13-án 16:00-
                    17:00 óra között.</strong> <br> <br> </p>
                    <p class="text-start"><strong>3. MOBIL PLANETÁRIUM A PÁLYAVÁLASZTÁSI NAPON</strong></p>
                <p class="text-start">Immár hagyomány, hogy az iskolában tartott tanítás nélküli napra a környék óvodásait is
                    meghívjuk, hiszen nem minden nap láthatjuk a csillagos égboltot nappal! A 45 perces
                    foglalkozásra az óvónénikkel érkeznek az apróságok <strong>2023.november 24-én</strong>, pénteken. Az
                    előadás 500 Ft/fő díj ellenében látogatható az iskolánk tornatermében felállított mobil
                    planetáriumban.</p>
                <p class="text-start"><strong>4. KARÁCSONY ISKOLÁS MÓDRA</strong></p>
                <p class="text-start">Szeretettel várjuk az óvónéniket és az iskolába készülő óvodásokat karácsonyi ünnepségünk
                    főpróbájára a Kecskéstelepi Művelődési Házba <strong>2023.12.18-án, hétfőn 10:00 órára.</strong></p>
                <p class="text-start"><strong>5. ARNYKAPU FARSANG</strong></p>
                <p class="text-start">Második alkalommal szervezzük meg „Aranykapu farsangunk”, melyre szeretettel hívjuk az
                    ovisokat, diákjaink családját, a környék nyugdíjasait, vállalkozóit. <strong>2024.02.23-án 16:00-18:00
                        óra</strong> között jelmezes felvonulás, sütemény-verseny, büfé, kiszebáb-égetés és táncház is élményt
                    adó lehetőség a hozzánk ellátogatóknak.</p>
                <p class="text-start"><strong>6. NYÍLT NAPOK A TANÓRÁKON</strong></p>
                <p class="text-start"><strong>2024. március 6-án</strong> 08:00 órakor az iskolánkban hittant szervező egyházak bemutatkozásával
                    és az iskolaépület bejárásával kezdődnek a „Nyílt napok”. 6-án az alsó tagozatos tanítóink, <strong>7-
                        én</strong> a felső tagozatos tanáraink tartanak nyílt órákat, melyeken bárki részt vehet.</p>
                <p class="text-start"><strong>7. SZÜLŐI ÉRTEKEZLET</strong></p>
                <p class="text-start">A hozzánk beiratkozott 1. osztályosok szüleinek tartunk egy bemutatkozó-tájékoztató szülői
                    értekezletet <strong>2024. május 13-án, hétfőn 17:00</strong> órakor.</p>
                <p class="text-start"><strong>8. JÁTÉKOS ISMERKEDŐS FOGLALKOZÁS</strong></p>
                <p class="text-start">A 2024/2025-ös tanév megkezdése előtt szervezünk az 1. osztályos tanulóinknak egy játékos
                    ismerkedési délelőttöt a tanítónénik vezetésével <strong>2024.08.27- én 10:00-11:00</strong> óra között.</p>
                <p class="text-start fst-italic">A 2023/2024-es tanévben tehát ezekre a programokra várjuk Önöket szeretettel, és reméljük,
                    hogy iskolánk kínálata elnyeri tetszésüket, és bennünket választanak.</p>
                <p class="text-end">Iskola pedagógusi közössége</p>
        </div>
      </div>
    </div>
    </div>
{% endblock content%}
