{% extends 'layouts/blank.html' %}
{% block title %}Szegedi Bagoly - Digitális témahét{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Digitális témahét</h2>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Breadcrumbs -->
    <section id="services" class="services sections-bg ">
      <div class="container" data-aos="fade-up">
        <div class="row border shadow p-3 rounded mb-4">
         <div class="col-lg-8 ">
            <h4>Digitális témahét - Megtekinthető és letölthető dokumentuok </h4>
            <div class="row mx-auto">
                <p>Bagolyröpte II. - <a href="https://drive.google.com/file/d/1eyHFPBus1pI_ipbaihW1hqJOYnLH4Mqq/view?usp=sharing" target="_blank">Hozzájárulási nyilatkozat</a></p>
                <p>Bagolyröpte II. - <a href="https://drive.google.com/file/d/1_Osl2wRArek_jUG8AoidlLPpfJMUPcgZ/view?usp=sharing" target="_blank">Projekt leírás</a></p>
            </div>
              <div class="row mx-auto">
                <p>Bagolyröpte II. - <a href="https://drive.google.com/file/d/1YWz-oIzt19jqi9BaRWT2t8KDbi-9vhPu/view?usp=sharing" target="_blank">Tanulói értékelés</a><br>
                <p>Bagolyröpte II. - <a href="https://drive.google.com/file/d/1DRbbQeOQe0p7UgsCxC2nyEigM8C9BIQ_/view?usp=sharing" target="_blank">Szempontok</a><br>
              </div>
         </div>
         <div class="col-lg-4">
            <img src="../../static/img/digital/Tehetseges.jpg" class="img-fluid rounded shadow" alt="">
         </div>
        </div>
        <div class="row border shadow p-3 rounded mb-4">
          <div class="col-lg-8 ">
             <h2>II. Bagolyröpte  </h2>
             <div class="row mx-auto">  
                 <p>Digitális témahét  </p>
             </div>
               <div class="row mx-auto">
                 <p>Iskolánk 2024-ben is csatlakozott a Digitális Témahét programhoz. <br> Idén egy közös iskolai projektet valósítottunk meg, melyben részt vehettek a 3-8. osztályos tanulóink. <br> A felhívás értelmében tanórák megtartására nyílt lehetőségük. <br> A feladat teljesítésének feltétele a digitális eszköz, tartalom felhasználása volt. 46 diákunk vállalta a pedagógus szerepet sikerrel.</p>
               </div>
          </div>
          <div class="col-lg-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item shadow w-100 rounded" height="230"  src="https://www.youtube.com/embed/Npayagh3PHk?si=GseiUwlMNj4MD0oz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
         </div>
      </div>

    </section>
{% endblock content%}