{% extends 'layouts/blank.html' %}
{% block title %}Szegedi Bagoly - Negyedik nap{% endblock %}


{% block content %}
<div class="container">
<div class="text-center">
  <h1>4.nap
  </h1>
</div>
 <div class="row m-4">
    {% for obj in secondimage %}
    <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-up">
      <img
        src="{{ obj.image.url }}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
    </div>
    {% endfor %}

    {% for obj in secondimage %}
    <div class="col-lg-4 mb-4 mb-lg-0">
  
      <img
        src="{{ obj.image.url }}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
    {% endfor %}

    {% for obj in firstimage %}
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{{ obj.image.url }}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}

